/* CommissionCalculator.css */

.commission-calculator {
    text-align: center;
    margin:120px  120px 60px 60px ;
    padding: 120px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .commission-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .commission-input {
    width: 30%;
    text-align: left;
    margin-right: 100px;
  }

  h1 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .commission-results {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  .company {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .company h3 {
    margin-top: 0;
    color: #333;
  }
  
  .total-revenue {
    font-weight: bold;
    margin-top: 20px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .input-group {
    width: 23%;
    text-align: left;
  }
  .total-revenue{
   
    margin-top:10px ;
    font-size: 40px;
    
  }
  .imgprofiles{
    max-width: 100px; /* Largeur maximale de l'image */
    margin: 30px 0;   /* Marge supérieure et inférieure de l'image */
    display: block;   /* Pour centrer l'image horizontalement */
    margin-top: 4rem;
    margin-right: -34rem;
    margin-left: 18rem;
    margin-bottom: -2rem;
  }
  
  /* Styles pour le texte */
  .combination-info {
    font-size: 18px; /* Taille de police du texte */
    font-weight: bold; /* Gras pour le texte */
    margin-top: 10px; /* Marge supérieure du texte */
  }
  .combination-list{
    list-style-type: none;
    padding: 0%;
  }
  .combination-list li{
    font-size: 20px;
    margin-bottom: 4px; 
  }
  .inputequipe{
    width: 30%;
    align-items: center;
    text-align: center;
  }